---
import Layout from "@astral-mines/layouts/Layout.astro"
import { SITE_NAME } from "@/lib/constants"
---

<Layout title={SITE_NAME}>
  <h1>{SITE_NAME}</h1>
  <a href="/astral-mines" class="btn btn-secondary">Astral Mines</a>
</Layout>
