---
import Layout from "@/astral-mines/layouts/Layout.astro"
import { GAME_TITLE } from "@/tic-tac-morph/lib/constants"
---

<Layout title={GAME_TITLE}>
  <h1 slot="title">{GAME_TITLE}</h1>
</Layout>
