<dialog id="modal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box flex flex-col items-center gap-2">
    <h3 id="modal-title" class="font-bold text-xl"></h3>
    <h4 id="score" class="font-bold text-3xl"></h4>
    <p id="modal-description" class="py-4"></p>
    <div class="modal-action">
      <form method="dialog" class="flex gap-2">
        <button id="btn-restart" class="btn btn-primary">Restart</button>
      </form>
      <a href=`/astral-mines` class="btn btn-outline btn-secondary">Home</a>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button aria-label="close modal">close</button>
  </form>
</dialog>

<style>
  :root {
    scrollbar-gutter: auto;
  }
</style>

<script>
  import { gameState } from "@astral-mines/stores/gameStateStore"
  import { modalState } from "@astral-mines/stores/modal"
  import { time } from "@astral-mines/stores/timeStore"

  const modal = document.getElementById("modal") as HTMLDialogElement
  const title = document.getElementById("modal-title")
  const description = document.getElementById("modal-description")
  const score = document.getElementById("score")
  const restartButton = document.getElementById("btn-restart")

  if (restartButton) {
    restartButton.addEventListener("click", () => {
      gameState.set("IDLE")
    })
  }

  modalState.subscribe((s) => {
    if (!title || !description || !score) return

    title.textContent = s.content.title
    description.textContent = s.content.description
    score.textContent = time.get().toString()

    if (s.isOpen) {
      modal?.showModal()
    }
  })
</script>
