---
import type { Difficulty } from "@astral-mines/types/difficulty"
import { CELL_MINE, CELL_FLAG } from "@astral-mines/lib/constants"

interface Props {
  difficulty: Difficulty
}

const { difficulty } = Astro.props
---

<div class="flex gap-4 mb-4">
  <p class="flex gap-1 text-xl">
    <span id="mines" class="text-xl"
      >{difficulty.MINES.toString().padStart(2, "0")}</span
    >
    {CELL_MINE}
  </p>

  <p class="flex gap-1 text-xl">
    <span id="flags" class="text-xl"
      >{difficulty.MINES.toString().padStart(2, "0")}</span
    >
    {CELL_FLAG}
  </p>
</div>

<script>
  import { boardState, getFlaggedCells } from "@astral-mines/stores/board"
  const flags = document.getElementById("flags")

  if (flags) {
    const flagsNumber = parseInt(flags.textContent || "0")

    boardState.listen(() => {
      const flaggedCells = getFlaggedCells()
      flags.textContent = (flagsNumber - flaggedCells.length)
        .toString()
        .padStart(2, "0")
    })
  }
</script>
