---
import ThemeSelector from '../components/ThemeSelector.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
const defatulTheme = 'forest';
---

<!doctype html>
<html lang="en" data-theme={defatulTheme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="minesweeper 2.0" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="p-8">
		<header class="flex justify-between items-start">
			<a href="/" class="btn btn-secondary">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
			  	</svg>
				Home
			</a>
			<slot name="title" />
			<ThemeSelector defatulTheme={defatulTheme} />
		</header>
		<main class="flex flex-col items-center">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Open Sans';
		src: url('/fonts/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Space Mono';
		src: url('/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	* {
		box-sizing: border-box;
	}

	html {
		font-family: 'Space Mono', monospace;
	}

	h1 {
		color: oklch(var(--a));
		font-size: 5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 0.5em 0;
	}
</style>
<script src="https://kit.fontawesome.com/97871308ab.js" crossorigin="anonymous"></script>
