---
import GameLayout from "@astral-mines/layouts/GameLayout.astro"
import type { DifficultyName } from "@/astral-mines/types/difficulty"
import { DIFFICULTIES } from "@/astral-mines/utils/difficulties"

const difficultyName = Astro.params.difficulty as DifficultyName
const difficulty = DIFFICULTIES[difficultyName]

export const prerender = false
---

<GameLayout difficulty={difficulty} />
<span data-difficulty={difficultyName} hidden aria-hidden="true"></span>

<script>
  import type { DifficultyName } from "@/astral-mines/types/difficulty"
  import { difficultyStore } from "@astral-mines/stores/difficulty"

  const difficultyNameElement = document.querySelector("[data-difficulty]")

  if (difficultyNameElement) {
    const difficultyName = difficultyNameElement?.getAttribute(
      "data-difficulty"
    ) as DifficultyName
    difficultyStore.set(difficultyName)
  }
</script>
